## Preprocessing

In [1]:
!pip install tensorflow

Collecting tensorflow
  Downloading tensorflow-2.7.0-cp38-cp38-win_amd64.whl (430.8 MB)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\miss_\anaconda3\lib\site-packages (from tensorflow) (1.12.1)
Collecting google-pasta>=0.1.1
  Downloading google_pasta-0.2.0-py3-none-any.whl (57 kB)
Requirement already satisfied: protobuf>=3.9.2 in c:\users\miss_\anaconda3\lib\site-packages (from tensorflow) (3.19.1)
Requirement already satisfied: tensorboard~=2.6 in c:\users\miss_\anaconda3\lib\site-packages (from tensorflow) (2.7.0)
Collecting keras-preprocessing>=1.1.1
  Downloading Keras_Preprocessing-1.1.2-py2.py3-none-any.whl (42 kB)
Collecting tensorflow-io-gcs-filesystem>=0.21.0
  Downloading tensorflow_io_gcs_filesystem-0.22.0-cp38-cp38-win_amd64.whl (1.5 MB)
Collecting libclang>=9.0.1
  Downloading libclang-12.0.0-py2.py3-none-win_amd64.whl (13.1 MB)
Requirement already satisfied: h5py>=2.9.0 in c:\users\miss_\anaconda3\lib\site-packages (from tensorflow) (2.10.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\miss_\anaconda3\lib\site-packages (from tensorflow) (3.7.4.3)
Requirement already satisfied: wheel<1.0,>=0.32.0 in c:\users\miss_\anaconda3\lib\site-packages (from tensorflow) (0.36.2)
Collecting tensorflow-estimator<2.8,~=2.7.0rc0
  Downloading tensorflow_estimator-2.7.0-py2.py3-none-any.whl (463 kB)
Collecting flatbuffers<3.0,>=1.12
  Downloading flatbuffers-2.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: absl-py>=0.4.0 in c:\users\miss_\anaconda3\lib\site-packages (from tensorflow) (0.15.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\miss_\anaconda3\lib\site-packages (from tensorflow) (1.41.1)
Collecting astunparse>=1.6.0
  Downloading astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Collecting keras<2.8,>=2.7.0rc0
  Downloading keras-2.7.0-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: six>=1.12.0 in c:\users\miss_\anaconda3\lib\site-packages (from tensorflow) (1.15.0)
Collecting opt-einsum>=2.3.2
  Downloading opt_einsum-3.3.0-py3-none-any.whl (65 kB)
Collecting termcolor>=1.1.0
  Downloading termcolor-1.1.0.tar.gz (3.9 kB)
Requirement already satisfied: numpy>=1.14.5 in c:\users\miss_\anaconda3\lib\site-packages (from tensorflow) (1.20.1)
Collecting gast<0.5.0,>=0.2.1
  Downloading gast-0.4.0-py3-none-any.whl (9.8 kB)
Requirement already satisfied: markdown>=2.6.8 in c:\users\miss_\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (3.3.4)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\miss_\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (2.25.1)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\miss_\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (1.0.1)
Requirement already satisfied: setuptools>=41.0.0 in c:\users\miss_\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (52.0.0.post20210125)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\miss_\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (0.4.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\miss_\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (1.8.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\miss_\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (2.3.3)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\miss_\anaconda3\lib\site-packages (from tensorboard~=2.6->tensorflow) (0.6.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\miss_\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\miss_\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow) (4.7.2)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\miss_\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow) (4.2.4)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\miss_\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow) (1.3.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\miss_\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard~=2.6->tensorflow) (0.4.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\miss_\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\miss_\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\miss_\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\miss_\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard~=2.6->tensorflow) (2020.12.5)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\miss_\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.6->tensorflow) (3.1.1)
Building wheels for collected packages: termcolor
  Building wheel for termcolor (setup.py): started
  Building wheel for termcolor (setup.py): finished with status 'done'
  Created wheel for termcolor: filename=termcolor-1.1.0-py3-none-any.whl size=4829 sha256=cc0ae6a292a9fbb43e13b4779ed6f04dc6ddeb3ceeb72df0f90a807d620f3e6a
  Stored in directory: c:\users\miss_\appdata\local\pip\cache\wheels\a0\16\9c\5473df82468f958445479c59e784896fa24f4a5fc024b0f501
Successfully built termcolor
Installing collected packages: termcolor, tensorflow-io-gcs-filesystem, tensorflow-estimator, opt-einsum, libclang, keras-preprocessing, keras, google-pasta, gast, flatbuffers, astunparse, tensorflow
Successfully installed astunparse-1.6.3 flatbuffers-2.0 gast-0.4.0 google-pasta-0.2.0 keras-2.7.0 keras-preprocessing-1.1.2 libclang-12.0.0 opt-einsum-3.3.0 tensorflow-2.7.0 tensorflow-estimator-2.7.0 tensorflow-io-gcs-filesystem-0.22.0 termcolor-1.1.0

In [62]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [63]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop('EIN', axis = 1)
application_df = application_df.drop('NAME' , axis = 1)
application_df.head(5)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [64]:
# Determine the number of unique values in each column.
unique_columns = application_df.nunique()
unique_columns

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [65]:
# Look at APPLICATION_TYPE value counts for binning
app_unique = application_df['APPLICATION_TYPE'].value_counts()
app_unique

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [66]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      260
T2          16
Name: APPLICATION_TYPE, dtype: int64

In [67]:
# Look at CLASSIFICATION value counts for binning
class_unique = application_df['CLASSIFICATION'].value_counts()
class_unique

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C8210        1
C2170        1
C2380        1
C1580        1
C1248        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [68]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_unique_nonzero = class_unique[class_unique > 1]
class_unique_small = class_unique[class_unique < 1883]
df_class = pd.DataFrame(class_unique_small)
classifications_to_replace = df_class.index
classifications_to_replace

Index(['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100',
       'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000',
       'C7120', 'C1500', 'C6000', 'C1800', 'C1250', 'C8200', 'C1278', 'C1238',
       'C1235', 'C1237', 'C7210', 'C4100', 'C1720', 'C2400', 'C1600', 'C1257',
       'C1260', 'C2710', 'C0', 'C1246', 'C1234', 'C3200', 'C1256', 'C1267',
       'C1820', 'C1283', 'C1728', 'C2561', 'C1236', 'C1370', 'C5200', 'C2570',
       'C2190', 'C1570', 'C2600', 'C2150', 'C4500', 'C4120', 'C3700', 'C2500',
       'C1900', 'C1732', 'C1245', 'C4200', 'C6100', 'C8210', 'C2170', 'C2380',
       'C1580', 'C1248'],
      dtype='object')

In [69]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [70]:
# Convert categorical data to numeric with `pd.get_dummies`
with_dummies = pd.get_dummies(application_df)
with_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0

In [71]:
# Split our preprocessed data into our features and target arrays
y = with_dummies['IS_SUCCESSFUL']
x = with_dummies.drop('IS_SUCCESSFUL', axis = 1)

# Split the preprocessed data into a training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 1)

In [72]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = X_scaler.transform(x_train)
x_test_scaled = X_scaler.transform(x_test)

In [73]:
#len(x_train[0])
x_train

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
10679,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5052,1,5000,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
9990,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
25173,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
11405,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7813,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
32511,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
5192,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
12172,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
33003,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

## Compile, Train and Evaluate the Model

In [74]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# number_input_features = len(x_train_scaled[0])
# hidden_nodes_layer1 = 80
# hidden_nodes_layer2 = 30


nn = tf.keras.models.Sequential()

# First hidden layer
#nn.add(tf.keras.layers.Dense(unit = hidden_nodes_layer1, input_dim = number_input_features, activation = 'relu'))
nn.add(tf.keras.layers.Dense(units = 1, activation = 'relu', input_dim = 44))

# Second hidden layer
#nn.add(tf.keras.layers.Dense(unit = hidden_nodes_layer2, activation = 'relu'))
nn.add(tf.keras.layers.Dense(units = 1, activation = 'relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 1)                 45

 dense_4 (Dense)             (None, 1)                 2

 dense_5 (Dense)             (None, 1)                 2

=================================================================
Total params: 49
Trainable params: 49
Non-trainable params: 0
_________________________________________________________________

In [75]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

In [76]:
# Train the model
fit_model = nn.fit(x_train_scaled, y_train, epochs = 100)

Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6914 - accuracy: 0.5333
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 29/100
804/804 [==============================] - 1s 828us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 30/100
804/804 [==============================] - 1s 829us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 31/100
804/804 [==============================] - 1s 827us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 32/100
804/804 [==============================] - 1s 805us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 33/100
804/804 [==============================] - 1s 801us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 34/100
804/804 [==============================] - 1s 792us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 35/100
804/804 [==============================] - 1s 803us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 36/100
804/804 [==============================] - 1s 805us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 37/100
804/804 [==============================] - 1s 746us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 38/100
804/804 [==============================] - 1s 745us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 39/100
804/804 [==============================] - 1s 773us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 40/100
804/804 [==============================] - 1s 759us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 41/100
804/804 [==============================] - 1s 749us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 42/100
804/804 [==============================] - 1s 844us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 43/100
804/804 [==============================] - 1s 719us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 44/100
804/804 [==============================] - 1s 743us/step - loss: 0.6909 - accuracy: 0.53350s - loss: 0.6
Epoch 45/100
804/804 [==============================] - 1s 747us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 46/100
804/804 [==============================] - 1s 777us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 47/100
804/804 [==============================] - 1s 816us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 48/100
804/804 [==============================] - 1s 742us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 49/100
804/804 [==============================] - 1s 754us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 50/100
804/804 [==============================] - 1s 754us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 51/100
804/804 [==============================] - 1s 770us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 52/100
804/804 [==============================] - 1s 762us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 53/100
804/804 [==============================] - 1s 763us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 54/100
804/804 [==============================] - 1s 753us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 55/100
804/804 [==============================] - 1s 746us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 56/100
804/804 [==============================] - 1s 754us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 57/100
804/804 [==============================] - 1s 752us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 58/100
804/804 [==============================] - 1s 744us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 59/100
804/804 [==============================] - 1s 755us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 60/100
804/804 [==============================] - 1s 734us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 61/100
804/804 [==============================] - 1s 760us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 62/100
804/804 [==============================] - 1s 746us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 63/100
804/804 [==============================] - 1s 760us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 64/100
804/804 [==============================] - 1s 749us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 65/100
804/804 [==============================] - 1s 767us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 66/100
804/804 [==============================] - 1s 749us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 67/100
804/804 [==============================] - 1s 751us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 68/100
804/804 [==============================] - 1s 775us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 69/100
804/804 [==============================] - 1s 767us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 70/100
804/804 [==============================] - 1s 737us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 71/100
804/804 [==============================] - 1s 759us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 72/100
804/804 [==============================] - 1s 839us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 73/100
804/804 [==============================] - 1s 805us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 74/100
804/804 [==============================] - 1s 820us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 75/100
804/804 [==============================] - 1s 795us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 76/100
804/804 [==============================] - 1s 795us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 77/100
804/804 [==============================] - 1s 824us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 78/100
804/804 [==============================] - 1s 802us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 79/100
804/804 [==============================] - 1s 779us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 80/100

804/804 [==============================] - 1s 768us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 81/100
804/804 [==============================] - 1s 775us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 82/100
804/804 [==============================] - 1s 822us/step - loss: 0.6910 - accuracy: 0.5335
Epoch 83/100
804/804 [==============================] - 1s 868us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 84/100
804/804 [==============================] - 1s 774us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 85/100
804/804 [==============================] - 1s 756us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 86/100
804/804 [==============================] - 1s 774us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 87/100
804/804 [==============================] - 1s 770us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 88/100
804/804 [==============================] - 1s 760us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 89/100
804/804 [==============================] - 1s 756us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 90/100
804/804 [==============================] - 1s 789us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6910 - accuracy: 0.5335
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 95/100
804/804 [==============================] - 1s 911us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6909 - accuracy: 0.5335
Epoch 99/100
804/804 [==============================] - 1s 896us/step - loss: 0.6909 - accuracy: 0.5335
Epoch 100/100
804/804 [==============================] - 1s 889us/step - loss: 0.6909 - accuracy: 0.5335

In [78]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(x_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6915 - accuracy: 0.5292 - 231ms/epoch - 861us/step
Loss: 0.6914563179016113, Accuracy: 0.5292128324508667

In [38]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE